<!DOCTYPE html>
<html lang="es">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nosotros</title>
    <!--ICONO DEL HEAD-->
    <link rel="shortcut icon" href="{% static 'app/img/Veranera.jpeg' %}" type="image/x-icon">
    <!--ICONO DEL HEAD-->

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'app/css/carousel.css' %}">
    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/carousel/">





</head>

<body>
    <!--DENTRO DE HEADER VA EL NAVBAR QUE ES LA BARRA DE NAVEGACION SUPERIOR-->
    <header class="header" id="header">
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <div class="container-fluid">
                <img src="{% static 'app/img/planta.gif' %}" alt="" style="width: 50px; border-radius: 50%;"> <!--border-raduis le da forma circular al icono -->

                <!--AQUI SE ENCUENTRA EL BOTON QUE SE DESPLIEGA HACIA ABAJO EN EL NAVBAR CON SU RESPECTVIOS LINKS-->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"data-bs-target="#collapsibleNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="../index">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../nosotros">Nosotros</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../registro">Registrarse</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"  data-bs-toggle="modal" data-bs-target="#myModal">Iniciar sesión</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <!--DENTRO DE HEADER VA EL NAVBAR QUE ES LA BARRA DE NAVEGACION SUPERIOR-->

    <main class="main contenedor-fluid"  >
        <!-- Carousel de  fotos-->
        <div id="demo" class=" m-2 carousel slide" data-bs-ride="carousel"> <!--m2 para separar la foto del navbar-->

            <!-- Indicators/dots -->
            <div class="carousel-indicators">
                <!--barras blancas que salen debajo de las fotos -->
                <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
                <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
                <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
                <button type="button" data-bs-target="#demo" data-bs-slide-to="3"></button>
                <button type="button" data-bs-target="#demo" data-bs-slide-to="4"></button>
                <button type="button" data-bs-target="#demo" data-bs-slide-to="5"></button>
            </div>

            <!-- The slideshow/carousel -->
            <!-- efecto de carousel con las fotos -->
            <div class="carousel-inner "  >
                <div class="carousel-item active "  >
                    <img src="{% static 'app/img/1881-ocio-verano-fotografia-vacaciones-jubilado-3840x2160.jpg' %}"  alt="Los Angeles" class="d-block w-50 img-g"    >
                </div>
                <div class="carousel-item ">
                    <img src="{% static 'app/img/144148-la_television_de_la_realidad-matrimonio-la_expresion_facial-sesion-comodidad-3840x2160.jpg' %}" alt="Chicago" class="d-block w-50" >
                </div>
                <div class="carousel-item">
                    <img src="{% static 'app/img/32192-personas-amistad-sonrisa-cumpleanos-juego-3840x2160.jpg' %}" alt="New York" class="d-block w-50" >
                </div>
                <div class="carousel-item">
                    <img src="{% static 'app/img/1869-crianza-3840x2160.jpg' %}" alt="New York" class="d-block w-50" >
                </div>
                <div class="carousel-item">
                    <img src="{% static 'app/img/2114-belleza-diversion-el_cabello_negro-amistad-emocion-3840x2160.jpg' %}" alt="New York" class="d-block w-50" >
                </div>
                <div class="carousel-item">
                    <img src="{% static 'app/img/31371-risa-humanos-sonrisa-amistad-diversion-3840x2160.jpg' %}" alt="New York" class="d-block w-50" >
                </div>
            </div>
            <!-- efecto de carousel con las fotos -->

            
            <!-- Left and right controls/icons Iconos blancos de izquierda y derecha-->
            <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
                <span class="carousel-control-next-icon"></span>
            </button>
        </div>
        
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-8 d-flex justify-content-center">
                    <h4>Somos una fundación, creada con el único propósito de facilitar el comercio de productos de jardinería 
                        entre comunidades. Uno de nuestros objetivos, es ayudar a tener un entorno mas ecológico. En nuestra página
                        puedes ayudar la causa, donando y/o comprando a través de esta. También buscamos ayudar a los vecinos a 
                        vender sus producto, dándoles un medio fiable y de fácil acceso.</h4>
                </div>
                <div class="col-sm-2"></div>
            </div>
        </div>

        
        <!-- The Modal iniciar sesion-->
        <div class="modal" id="myModal">
            <div class="modal-dialog">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Iniciar sesión</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body text-center">
                        <img src="{% static 'app/img/cerrar-con-llave.png' %}" alt="candado-icon" width="100">
                        <div class="container-fluid"> 
                          <div class="row">
                            <div class="col-sm-2"></div>
                            <div class="col-sm-8">
                              <form action="../tienda" method="GET">
                                <div class="form-group">
                                  <label for="txtUser">Usuario:</label>
                                  <input placeholder="Ej: m.salinas" class="form-control" type="text" name="txtUser" id="txtUser">
                
                                </div>
                                <div class="form-group">
                                  <label for="txtPass">Contraseña:</label>
                                  <input placeholder="Ej:**********" class="form-control" type="password" name="txtPass" id="txtPass">
                                </div>

                                <div class=" m-3 d-flex justify-content-between">
                                    <button type="submit" class="btn btn-success "  name="btnAceptar" id="btnEnviar" > Aceptar</button>
                                    <button type="reset" class="btn btn-danger"  name="btnBorrar" id="btnLimpiar">Borrar</button>
                                </div>
                                
                              </form>
                            </div>
                          </div>
                        </div>
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
                    </div>

                </div>
            </div>
        </div>
        <!-- The Modal iniciar sesion-->





    </main>

</div>

    <!--Parte final de la pagina el footer-->
    <footer class=" py-3 my-4">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item"><a href="../index" class="nav-link px-2 text-muted">Inicio</a></li>
            <li class="nav-item"><a href="../nosotros" class="nav-link px-2 text-muted">Nosotros</a></li>

        </ul>
        <p class="text-center text-muted">&copy; 2022 Fundación "El Jardincito", Inc</p>
    </footer>
    <!--Parte final de la pagina el footer-->


    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>